* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}



.buy-btn {
    background-color: #FB641B;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 80%;
    text-align: center;
    padding: 16px;
    position: fixed;
    bottom: 90px;
    left: 40px;
}